<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="sudoku.js"></script>
    <script src="sudokuclient.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-app="sudoku" ng-controller="boardCtrl">
            <button ng-click>Go</button>
            <table border=1>
                <tr ng-repeat="metarow in getMetaRows()" valign="center">
                    <td ng-repeat="metacell in metarow">
                        <table border=1>
                           <tr ng-repeat="row in metacell.getRows()" valign="center">
                                <td ng-repeat="cell in row">
                                     <div ng-show="!(cell.possibleValues.length>1)" class="sudoCellKnown sudoCell" ng-class="cellColor(cell)">{{ cell.displayValue() }}</div>
                                     <div class="sudoCell" ng-show="(cell.possibleValues.length>1)" >
                                         <select  ng-model="cellChoice" ng-change="selectAction()" >                                            
                                            <option value="">--</option>
                                            <option ng-repeat="v in cell.possibleValues" value="{{v}}">{{v}}</option>
                                         </select>
                                         <div style="font-size:0.4em;">{{ cell.possibleValues.length }}</div>                                         
                                     </div>
                                </td>        
                            </tr>    
                        </table>
                    </td> 
                </tr>
            </table>
        </div>        

  </body>
  

</html>