doctype html
html
  head
    title= "Sudoku Toolbox"
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js")
    script(src="sudoku.js")
    script(src="sudokuclient.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content