body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #B700FF;
}
table {
     border-collapse: collapse;
         margin: 0px;
    padding:0px;
}
.sudoku-square {
    border: solid 2px black;
}
.sudoku-main-square {
    border: 1px;
    border-color: red;
    border-style: solid;
    margin: 0px;
    padding:0px;
}
.sudoCell {
    border: solid 1px black;
    margin: 0px;
    padding:0px;
    /* display:table-cell; */
    text-align:center;
    vertical-align:middle;
    width:40px;
    height:40px;    
}
.sudoMiniCell {
    width:0.8em;
    height:0.8em;
    font-size:0.8em;   
}
.sudoCellKnown {
    font-size:2em;
}
.sudoCellUnknown {

}
.userDefined {
    color: #00B7FF;
}