body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #B700FF;
}

.sudoCell {
   
    padding:0px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:45px;
    height:45px;    
}
.sudoMiniCell {
    width:0.8em;
    height:0.8em;
    font-size:0.8em;   
}
.sudoCellKnown {
    font-size:2em;
}
.sudoCellUnknown {

}
.userDefined {
    color: #00B7FF;
}